<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h2>Edit <%= resource_name.to_s.humanize %> Profile</h2>
      <div class="row">
        <div class="col-sm-4">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {method: :put }) do |f| %>
          <%= devise_error_messages! %>
          <div><%= f.label :firstname %><br />
            <%= f.text_field :firstname %></div>
          <div><%= f.label :lastname %><br />
            <%= f.text_field :lastname %></div>
          <div><%= f.label  :favoritealbum %><br />
            <%= f.text_field :favoritealbum %></div>
          <div><%= f.label :location %><br />
            <%= f.text_field :location %><br /></div>
          <div><%= f.label :bio %><br />
            <%= f.text_field :bio %></div>   

          <div><%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true %></div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>
          <div><%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
          <%= f.password_field :password, autocomplete: "off" %></div>

          <div><%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

          <div><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
          <%= f.password_field :current_password, autocomplete: "off" %></div>

          <div><%= f.submit "Update" %></div>
          <% end %>

          <h3>Delete account</h3>

          <p>><%= button_to "Delete account", registration_path(resource_name), data: { confirm: "Are you sure? This CANNOT be undone." }, method: :delete %></p>

          <%= link_to "Back", :back %>
        </div>
      </div>
    </div>
  </div>
</div>